*.iml
*.jks
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/release
/images
.externalNativeBuild
.cxx
google-services.json
*.apk
*.jpg
*.jpeg
*.png
plan_text.txt
